{% if isdevelopment %}
    <link rel="icon" href="/favicon.svg" type="image/svg+xml">
{% else %}
    <link rel="icon" href="/favicon.ico"><!-- 32×32 -->
    <link rel="apple-touch-icon" href="/images/favicon/logo-tips-180.png"><!-- 180×180 -->
    <link rel="manifest" href="/manifest.webmanifest">
    <meta name="theme-color" content="#ffcc00"/>
{% endif %}
