<link rel="preload" href="/fonts/FiraCode-Regular-subset.woff2" as="font" type="font/woff2" crossorigin>
<style>
    @font-face {
        font-family: Fira Code;
        src: url(/fonts/FiraCode-Regular-subset.woff2) format("woff2");
        font-weight: 400;
        font-display: swap;
    }
</style>
