<footer class="footer">
    <div class="footer__info">
        <dl class="footer__about">
            <dt>{{ site.author }}</dt>
            <dd>CSS Evangelist</dd>
            <dd><a href="/talks/">Tech speaker</a></dd>
            <dd><a href="https://twitter.com/webstandards_ru" rel="noopener">@webstandards_ru</a> and <a href="https://twitter.com/webstandards_en" rel="noopener">@webstandards_en</a> editor</dd>
        </dl>
        <ul class="footer__social-list">
            <li class="footer__social-item">
                <a href="https://twitter.com/{{ site.twitter }}" rel="noopener me" class="footer__social-link footer__social-link--twitter">Twitter</a>
            </li>
            <li class="footer__social-item">
                <a href="https://github.com/MeFoDy" rel="noopener me" class="footer__social-link footer__social-link--github">GitHub</a>
            </li>
            <li class="footer__social-item">
                <a href="https://www.linkedin.com/in/nikita-dubko-5bb1608b" rel="noopener" class="footer__social-link footer__social-link--linkedin">LinkedIn</a>
            </li>
            <li class="footer__social-item">
                <a href="/feed/rss.xml" class="footer__social-link footer__social-link--rss">RSS</a>
            </li>
        </ul>
    </div>
    <div class="footer__technologies">
        This site is built with <a href="https://www.11ty.dev/" rel="noopener">11ty</a> and hosted on <a href="https://www.netlify.com/" rel="noopener">Netlify</a>. The source code is hosted on <a href="{{ site.paths.github }}" rel="noopener">GitHub</a>.
    </div>
    <div class="footer__copyright">
        &copy;
        {{ helpers.currentYear() }} / {{ site.author }}
    </div>
</footer>
