<header class="header">
    <a href="/" class="header__link">
        {{ site.paths.domain }}
    </a>
    <nav class="site-nav">
        <ul class="site-nav__list">
            <li class="site-nav__item">
                <a href="/chunks/">Chunks</a>
            </li>
            <li class="site-nav__item">
                <a href="/weekly/">Weekly Links</a>
            </li>
            <li class="site-nav__item">
                <a href="/talks/">Talks</a>
            </li>
        </ul>
    </nav>
</header>
