{% macro video(src, width, height, muted = true) %}<video src="{{ src }}" width="{{ width }}" height="{{ height }}" controls {{ "muted" if muted }} playsinline preload="metadata"></video>{% endmacro %}

{% macro img(src, alt = '') %}<img src="{{ src }}" alt="{{ alt }}" loading="lazy" decoding="async">{% endmacro %}
