{% if not isIndex %}
    {% set titleSuffix = ' | ' + site.title %}
{% else %}
    {% set titleSuffix = '' %}
{% endif %}

{% if cover %}
    {% set ogImage = site.paths.site + page.url + cover %}
{% else %}
    {% set ogImage = site.paths.social %}
{% endif %}

<meta property="og:url" content="{{ site.paths.site }}{{ page.url }}"/>
<meta property="og:title" content="{{ title }}{{ titleSuffix }}"/>
<meta property="og:description" content="{{ description or site.description }}"/>
<meta property="og:image" content="{{ ogImage }}"/>
<meta property="og:type" content="website"/>

<meta property="twitter:card" content="summary_large_image">
<meta property="twitter:site" content="dev_tip">
<meta property="twitter:creator" content="dark_mefody">

<meta name="title" content="{{ title }}{{ titleSuffix }}"/>
