<meta property="og:url" content="https://tips.mefody.dev/"/>
<meta property="og:title" content="{{ site.ogTitle }}"/>
<meta property="og:description" content="{{ site.description }}"/>
<meta property="og:image" content="/images/logoOG.png"/>
<meta property="og:type" content="website"/>

<meta property="twitter:image" content="/images/logoOG.png"/>
<meta property="twitter:title" content="{{ renderData.title or site.ogTitle }}">
<meta property="twitter:description" content="{{ site.description }}"/>
<meta property="twitter:card" content="summary_large_image">
<meta property="twitter:site" content="{{ site.paths.site }}/{{ page.url }}">

<meta name="title" content="{{ site.ogTitle }}"/>
<link rel="apple-touch-icon" href="/images/logoOG.png"/>
