.collection {
    display: grid;
    grid-template-columns: var(--main-column-width) 1fr;
    grid-gap: 0 1em;
    width: 100%;
}

.collection > * {
    grid-column: 1 / span 1;
}

.collection__head {
    grid-column: 1 / -1;
    margin-bottom: calc(2 * var(--line-space));
    padding-right: var(--line-space);
    border-bottom: 1px solid var(--color-accent);
}

.collection__head > * {
    max-width: var(--max-column-width);
}

.collection__description {
    margin-bottom: var(--line-space);
    padding: 0;
    color: var(--color-subtext);
    font-weight: 300;
}

.collection__list {
    display: block;
    margin: 0;
    padding: 0;
    list-style: none;
}

.collection__item {
    margin-bottom: calc(2 * var(--line-space));
}

.collection__item-link {
    display: inline-block;
    color: var(--color-text);
    text-decoration: none;
}

h2.collection__item-title {
    margin-top: 0;
    margin-bottom: 0.5em;
    padding: 0;
    font-size: calc(var(--line-height) * 1em);
    line-height: 1.33;
}

.collection__item-meta {
    display: flex;
    flex-wrap: wrap;
    color: var(--color-subtext);
    font-weight: 300;
}

.collection__item-meta > :not(:last-child)::after {
    display: inline-block;
    padding: 0 0.5em;
    color: var(--color-delimeter);
    content: '·';
}

.collection__item-tags {
    font-size: 0.75em;
}

@media (max-width: 1000px) {
    .collection {
        grid-template-columns: 1fr;
    }

    .collection__head {
        grid-column: 1 / span 1;
    }
}

@media (max-width: 500px) {
    .collection__item {
        margin-bottom: calc(3 * var(--line-space));
    }

    .collection__item-tags {
        flex: 1 0 100%;
        margin-top: 1em;
    }
}
