.footer {
    grid-column: 1 / -1;
    padding: calc(2 * var(--line-space)) var(--line-space);
    border-top: 1px solid var(--color-accent);
}

.footer a {
    color: var(--color-link);
    text-decoration-color: var(--color-accent);
    text-decoration-thickness: 2px;
}

.footer a:visited {
    color: var(--color-link-visited);
}

.footer a:hover {
    background: var(--color-accent-alpha);
}

.footer__info {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    max-width: var(--main-column-width);
    margin: 0 auto;
    margin-bottom: calc(2 * var(--line-space));
}

.footer__about {
    margin: 0;
    margin-right: var(--line-space);
    padding: 0;
    font-family: var(--font-serif);
}

.footer__about dt {
    font-weight: bold;
}

.footer__about dd {
    margin: 0;
    font-weight: 300;
}

.footer__social-list {
    min-width: max-content;
    font-family: var(--font-serif);
}

.footer__technologies {
    margin-bottom: var(--line-space);
    font-weight: 300;
    font-size: 0.75em;
    text-align: center;
}

.footer__copyright {
    font-weight: bold;
    font-size: 0.75em;
    font-family: var(--font-serif);
    text-align: center;
}

@media (max-width: 750px) {
    .footer {
        padding: calc(2 * var(--line-space)) var(--mobile-border-width);
    }
}
