.header {
    display: flex;
    grid-column: 1 / span 1;
    flex-direction: column;
    align-items: flex-end;
}

.header__logo {
    width: auto;
    height: calc(var(--line-space) * 4);
}

.header__link {
    margin: var(--line-space) 0;
    margin-left: 1em;
    color: var(--color-accent);
    font-weight: bold;
    letter-spacing: 0.2em;
    text-decoration: none;
}

@media (max-width: 1000px) {
    .header {
        grid-column: 2 / span 1;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }

    .header__link {
        margin-right: 1em;
        margin-left: 0;
    }
}
