.webmentions {
    font-size: 0.8em;
}

.webmentions h2 {
    position: relative;
    display: inline-block;
    margin-top: 0;
    margin-bottom: var(--line-space);
}

.webmentions h2::before {
    position: absolute;
    top: -0.3em;
    right: -0.5em;
    z-index: -1;
    display: block;
    width: 200vw;
    height: calc(100% + 0.6em);
    background-color: var(--color-accent);
    content: '';
}

.webmentions__list {
    margin: 0;
    padding: 0;
    list-style: none;
}

.webmentions__empty {
    margin: 0;
    margin-bottom: var(--line-space);
    padding: 0;
}
