/* Blocks */
@import './blocks/prism.css';
@import './blocks/page.css';
@import './blocks/header.css';
@import './blocks/site-nav.css';
@import './blocks/collection.css';
@import './blocks/talks.css';
@import './blocks/article.css';
@import './blocks/footer.css';
@import './blocks/tags.css';
@import './blocks/error-page.css';

/* Variables */
:root {
    --color-grey: #797676;
    --color-black: #000000;
    --color-white: #ffffff;
    --color-lightgrey: #bebbbb;
    --color-darkgrey: #514f4f;
    --color-red: #ff4d00;
    --color-accent-base: 255, 204, 0;

    --line-height: 1.34;
    --font-size: 18px;
    --line-space: calc(var(--line-height) * 1em);
    --main-column-width: 700px;
    --max-column-width: 1000px;
    --mobile-border-width: 15px;

    --transition-duration-l: 0.5s;
    --transition-timing: ease;

    --font-code: 'Fira Code', monospace;
}

:root {
    --color-bg: var(--color-white);
    --color-text: var(--color-black);
    --color-subtext: var(--color-grey);
    --color-outline: var(--color-red);
    --color-accent: rgb(var(--color-accent-base));
    --color-accent-alpha: rgba(var(--color-accent-base), 0.3);
    --color-code: var(--color-darkgrey);
    --color-delimeter: var(--color-lightgrey);

    --color-prism-bg: #fef9f3;
    --color-prism-text: black;
    --color-prism-comment: slategray;
    --color-prism-punctuation: #999999;
    --color-prism-boolean: #990055;
    --color-prism-selector: #138512;
    --color-prism-operator: #ab5f06;
    --color-prism-keyword: #0077aa;
    --color-prism-function: #c333a4;
    --color-prism-variable: #e60101;
}

/* Global styles */
:focus-visible {
    outline: none;
    box-shadow: 0 0 0 4px var(--color-outline);
}

::selection {
    color: var(--color-text);
    background: var(--color-accent);
}

@media (max-width: 600px) {
    :root {
        --font-size: 16px;
    }
}
