<!DOCTYPE html>
<html class="page" lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>
            {{ renderData.title or title }}{% if not isIndex %} | {{ site.title }}{% endif %}
        </title>

        <meta name="color-scheme" content="dark light">
        <meta name="theme-color" content="#ffcc00" media="(prefers-color-scheme: light)">
        <meta name="theme-color" content="#880088" media="(prefers-color-scheme: dark)">

        <meta name="description" content="{{ description or site.description }}">

        <meta name="generator" content="Eleventy">

        {% include 'favicon.njk' %}

        {% include 'fonts.njk' %}

        {% include 'meta-open-graph.njk' %}
        {% include 'meta-rss.njk' %}
        {% include 'meta-webmentions.njk' %}

        <link rel="author" href="{{ site.paths.site }}/humans.txt">

        <link rel="stylesheet" href="/styles/styles.css">
        <link rel="stylesheet" href="/styles/dark.css" media="(prefers-color-scheme: dark)">
    </head>
    <body class="page__body">

        {% include 'header.njk' %}

        <main class="page__content">
            {{ content | safe }}
        </main>

        {% include 'footer.njk' %}

        {% include 'sw.njk' %}
    </body>
</html>
