name: Nightly build

on:
  schedule:
  - cron: '30 0 * * *'

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - name: Trigger build webhook on Netlify
      run: curl -s -X POST "https://api.netlify.com/build_hooks/${TOKEN}"
      env:
        TOKEN: ${{ secrets.NETLIFY_CRON_BUILD_HOOK }}
